$image-size: 12rem;

html {
  background-color: #99CCFF;
}

body {
  margin: 0 auto;
  max-width: 40em;
}

.gallery-image {
  max-height: $image-size;
  max-width: $image-size;
}

#index-links {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
}
