$image-size: 12rem;
$page-padding: 14px;

html {
  background-color: #99ccff;

  /* for mobile */
  padding-right: $page-padding;
  padding-left: $page-padding;
}

body {
  margin: 0 auto;
}

.gallery-image {
  max-height: $image-size;
  max-width: $image-size;
}

#index-links {
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* rules for computer screens */
@media (min-width: 1000px) {
  body {
    max-width: 40em;
  }
}
