@use "sass:color";

$links-margin: 20%;
$page-padding: 14px;

$cool-bg-color: #72c8d8;

html {
  /* for mobile */
  padding-left: $page-padding;
  padding-right: $page-padding;

  background: url("/bgpattern.webp");
}

body {
  margin-left: auto;
  margin-right: auto;
}

.cool-bg {
  background: linear-gradient(
    to top,
    $cool-bg-color,
    color.adjust($cool-bg-color, $lightness: +20%, $hue: +50),
    color.adjust($cool-bg-color, $lightness: +30%, $hue: +70)
  );
  animation: cool-bg-animation 5s ease infinite;
  background-size: 100% 400%;
}

@keyframes cool-bg-animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 0 100%;
  }
}

.disguise-links {
  text-decoration: none;
  color: black;
}

.index-links {
  display: flex;
  justify-content: center;
  padding: 5px;

  .spacer {
    flex: 0.6;
  }
}

.pic-with-text-underneath {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.pic-page-nav {
  display: flex;
  padding-bottom: 0.5em;

  .spacer {
    flex: 1;
    min-width: 15%;
  }

  .direction {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    align-items: center;
    padding-top: 10px;

    div {
      margin: 5px;
    }

    img {
      max-width: 70%;
    }
  }
}

.pic-page-main-pic {
  width: 100%;
}

.gallery {
  display: grid;
  direction: rtl;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);

  img {
    max-width: 100%;
  }
}

/* rules for computer screens */
@media (min-width: 800px) {
  .pic-page {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    max-width: 50rem;
  }

  .index-links {
    margin-left: $links-margin;
    margin-right: $links-margin;
  }

  .pic-page-main-pic {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
