{# -*- engine:jinja2 -*- #}
<html>
    <head>
        <title>אביגיל</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta property="og:image" content="https://avigail.avocadosh.xyz/computernerd.gif">
        <link rel="stylesheet" href="/guli.css" type="text/css" media="screen" />
    </head>
    <body>
        <div id="title">
            <a href="/">
                <img src="/computernerd.gif" alt="avigail" />
            </a>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
