{# -*- engine:jinja2 -*- #}
{% extends 'base.html' %}
{% block body %}
    <div class="index-page">
        <div class="index-links cool-bg">
            <a href="/tats.html" class="pic-with-text-underneath disguise-links">
                <img src="/ink.webp" alt="tattoos"/>
                <div> קעקועים </div>
            </a>
            <div class="spacer"></div>
            <a href="/mu.html" class="pic-with-text-underneath disguise-links">
                <img src="/fairyglitter.webp" alt="makeup"/>
                <div> איפור </div>
            </a>
        </div>

        <div class="contact-details cool-bg">
            <img src="/phone.webp" alt="phone">
            <div>Avigailk12357@gmail.com</div>
            <div>@motherfucking_hell_yeah_bitch</div>
        </div>
    </div>
{% endblock %}
