{# -*- engine:jinja2 -*- #}
{% extends 'base.html' %}

{% macro contact_detail(text, href) -%}
    <a class="detail disguise-links" href="{{ href }}" target="_blank" dir="ltr"
       style="grid-template-columns: repeat({{ (text | length / 2) | round | int }}, 1fr)">
        {% for letter in text %}
            <div>{{ letter }}</div>
        {% endfor %}
    </a>
{% endmacro %}


{% block body %}
    <div class="index-page">
        <div class="index-links cool-bg">
            <a href="/tats.html" class="pic-with-text-underneath disguise-links">
                <img src="/ink.webp" alt="tattoos"/>
                <div> קעקועים </div>
            </a>
            <div class="spacer"></div>
            <a href="/mu.html" class="pic-with-text-underneath disguise-links">
                <img src="/fairyglitter.webp" alt="makeup"/>
                <div> איפור </div>
            </a>
        </div>

        {% set email = "avigailk12357@gmail.com" %}
        {% set ig = "motherfucking_hell_yeah_bitch"%}

        <div class="contact-details cool-bg" dir="rtl">
            <img class="phone-pic" src="/phone.webp" alt="phone">
            {{ contact_detail(email, "mailto:" + email) }}
            {{ contact_detail("@" + ig, "https://instagram.com/" + ig) }}
        </div>

        <div class="cool-bg bio" dir="rtl">
            הייי אני אביגיל
            <span class="emote" dir="ltr">( ͡ಠ ͜ つ ͡ಠ)</span>
            מאפר בוגר קורס איל מקיאז׳ וגם מקעקע מהצד!
            שלחו הודעה או מייל ונעשה חגיגה בסגנון מרוקאי
            <span class="emote wide" dir="ltr">(°͜ʖ͡°)╭∩╮</span>
        </div>
    </div>
{% endblock %}
