{# -*- engine:jinja2 -*- #}
{% extends 'base.html' %}
{% block body %}
    <div id="index-links" class="cool-bg">
        <a href="/tats.html" class="pic-with-text-underneath disguise-links">
            <img src="/ink.webp" alt="tattoos"/>
            <div> קעקועים </div>
        </a>
        <div class="spacer"></div>
        <a href="/mu.html" class="pic-with-text-underneath disguise-links">
            <img src="/fairyglitter.webp" alt="makeup"/>
            <div> איפור </div>
        </a>
    </div>
{% endblock %}
